body {
	font-family: Arial, sans-serif;
	text-align: center;
	
	
  }

  h1 {
	background-color: #ff0000;
	color: #ffffff;
	padding: 10px 20px;
	text-align: center;
	width: fit-content;
	margin: 20px auto;
	font-size: 70px;
	margin-bottom: 20px;
	
	  
  }

  h2 {
	background-color: #ffb84e;
	padding: 10px 20px;
	width: fit-content;
	font-size: 24px;
	margin-bottom: 25px;
	color: rgb(0, 0, 0);
	font-family: Georgia, 'Times New Roman', Times, serif;
	text-align: left;
  }

	p {
		font-size: 15px;
		margin-bottom: 20px;
		color: white;
		text-align: justify;
	}


  ul {
	text-align: left;
	font-size: 18px;
	color:white ;
}

.background{

	background-image: url(../images/covid.jpg);
	background-size: cover;
    background-position: center;
	height: 100vh;
	
}

img{

	position: absolute;
	right: 110px;
	height: 30%;
	width: 30%;
	
}

.button {
    background-color: rgb(255, 255, 255);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 85%;
    transform: translateX(-50%);
    bottom: 650px;
  }
  button:hover {
    background-color: yellow;

  }
