.background{
    background-image: url(./images/sommair.jpg);
    background-size: cover;
    background-position: center;
	height: 100vh;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif  ;
 
	color: #009dff;
	padding: 10px 20px;
	text-align: center;
	width: fit-content;
	margin: 20px auto;
	font-size: 80px;
	margin-bottom: 20px;
}

span{
    color: rgb(255, 0, 225);




}

.myButton {
    background-color: #fbff00;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 60px;
    
  }
  p{
    text-align: center;
    color: white;
  }
a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
a:hover {
    color: rgb(255, 0, 0);
    text-decoration: underline;
  }
  .myButton:hover {
    background-color: rgb(209, 61, 61);
    color: white;
  }




